<section class="bg-gray-800">
    <div class="py-4 lg:pt-8 lg:pb-2 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white">Ask a question about developer relations</h2>
        <p class="mb-8 lg:mb-8 font-light text-center text-gray-400 sm:text-xl">Ask a question about developer relations and get an answer based on the expertise of DevRelCon speakers from more than 20 events.</p>
        <form action="{{ url_for('home') }}" method="POST" class="space-y-6">
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-mediumtext-gray-400">Your question</label>
                <textarea 
                    id="message" 
                    name="message" 
                    rows="6" 
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                    placeholder="What do you want to know?"
                    required
                ></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Submit your question</button>
        </form>
    </div>
</section>